body {
    background: whitesmoke;}  

.menu-bar {
    background-color:whitesmoke;
    text-align: center;}
.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: black;
    width: 100%;
    text-align:center;         }
.menu-bar ul li {
    width: 100%;
    padding: 5px;      }
.menu-bar ul li a {
    text-decoration:solid;
    color:black;
    box-shadow: 0px 0px 10px 0px grey;
    font-size: 1.4em;     }
.menu-bar ul li a:hover {
    color:green;}
.active, .menu-bar ul li:hover {
    background-color: whitesmoke;
    border-radius: 2px;       }
.sub-menu {
    display: none;         }
.menu-bar ul li:hover .sub-menu {
    display:block;
    margin-inline-start: auto;
    position: absolute;
    background: whitesmoke;
    margin-top: 15px;
    text-align: center;     }
.menu-bar ul li:hover .sub-menu ul {
    display: block; }
.menu-bar ul li:hover .sub-menu ul li{
    width:auto;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    text-align: left; }
.menu-bar ul li:hover .sub-menu ul li:last-child {
    border-bottom: none; }
.menu-bar ul li:hover .sub-menu ul li a:hover {
    color: green; }
        
/* Image slide*/
    table {
        
        margin-left: 10%;
        margin-right:10%;
        row-gap: 0;
    }
    .para {
        width: 100%;
        font-size: 1.1em;
        padding:10%;
    }
/* about section */   
.custom_heading {
    text-align: center;
    font-weight:bold;
    font-size: 2em;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px;
    border: ridge;
    border-radius: 25px;
  }
.custom_heading-text1 {
        text-align: justify;
        gap: 1.1rem;
        width: auto;
        font-size: 1.25em;
        margin-left: 25%;
        margin-right: 25%;
      }
/*Research publications section */
      .custom_heading1 {
        text-align: left;
        font-weight:bold;
        padding: 10px;
      }
      .custom_heading-text2 {
        text-align: justify;
        font-size: 1.1em;
        margin-right: 10%;
        
      }
 /*side menu */     
 .side-menu {
    background-color:whitesmoke;
    width: 18%;
}
.side-menu ul {
    list-style: none;
    color: black; }
.side-menu ul li {
    padding: 5px;      }
.side-menu ul li a {
    text-decoration:solid;
    color:black;
    box-shadow: 0px 0px 10px 0px #4444;
    font-size: 1.1em; }

 /*Contact */ 
    .custom_heading-text3 {
        text-align: right;
        width: auto;
        margin-right: 25%;
      }
      .custom_heading2 {
        text-align: right;
        font-weight:bold;
        padding: 10px;
        margin-right: 25%;
      }